body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.card {
	width: 80vw;
	background-color: cornflowerblue;
	border-radius: 40px;
	margin: 4px;
	padding: 30px;
}

.visited {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: red;
}

.not-visited {
	height: 30px;
	width: 30px;
	border-radius: 15px;
	background-color: green;
}

h1 {
	color: black;
}


.tabs-header {
	display: table;
	width: 100%;
	list-style-type: none;
}

.tabs-header li {
	display: table-cell;
	text-align: center;
	color: #ECF0F1;
	cursor: pointer;
}

.tabs-header li>a {
	display: block;
	padding: 15px;
	background: #212F3D;
	transition: all .2s ease-in;
	transform: skew(-40deg);
}

.tabs-header li>a span {
	display: block;
	transform: skew(40deg);
}

.tabs-header li>a:hover {
	background: #2471A3;
	color: #F7F9F9;
}

.tabs-header li.active>a {
	background: #2471A3;
}

/* CARDS */

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .card {
	margin: 20px;
	padding: 20px;
	width: 500px;
	min-height: 200px;
	display: grid;
	grid-template-rows: 20px 50px 1fr 50px;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
  }
  
  .card:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	transform: scale(1.01);
  }
  
  .card__link,
  .card__exit,
  .card__icon {
	position: relative;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
  }
  
  .card__link::after {
	position: absolute;
	top: 25px;
	left: 0;
	content: "";
	width: 0%;
	height: 3px;
	background-color: rgba(255, 255, 255, 0.6);
	transition: all 0.5s;
  }
  
  .card__link:hover::after {
	width: 100%;
  }
  
  
  .card__title {
	grid-row: 1/4;
	font-weight: 400;
	color: #ffffff;
  }
  
  .card__apply {
	grid-row: 4/5;
	align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1, .card-6 {
	background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2, .card-7 {
	background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3, .card-8 {
	background: radial-gradient(#76b2fe, #b69efe);
  }
  
  .card-4, .card-9 {
	background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
	background: radial-gradient(#f588d8, #c0a3e5);
  }

  .tag {
	align-self: flex-start;
	padding: .25em .75em;
	border-radius: 1em;
	font-size: .75rem;
  }
  
  .tag + .tag {
	margin-left: .5em;
  }
  
  .tag-2, .tag-4, .tag-6 {
	background: #56CCF2;
  background: linear-gradient(to bottom, #2F80ED, #56CCF2);
	color: #fafafa;
  }
  
  .tag-3, .tag-7, .tag-9 {
	background: #D1913C;
  background: linear-gradient(to bottom, #FFD194, #D1913C);
	color: #fafafa;
  }
  
  .tag-1 ,.tag-5, .tag-8{
	background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
	color: #fafafa;
  }